body {
    margin:0;
    padding:0;
    background: rgb(0,49,129);
    background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(0,49,129,1) 100%);
    
} 
header {
    background-image: url(https://static.promediateknologi.id/crop/0x0:0x0/0x0/webp/photo/p2/242/2024/09/12/Sehat-di-Musim-Hujan-3669227382.jpeg);
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    width:100%;
    background-color: #333;
    overflow: hidden;
    position:sticky;
    top:0;
}
nav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgba(0,0,0,0.65);
}
.p1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 100px 0;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgba(0,0,0,0.65);
}
h2 {
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.Konten2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    margin:10px;
    
}

.box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    color: white;
    background: rgb(0, 89, 255);
    padding: 30px 30px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 13px 25px 0px rgba(0,0,0,0.34);
    font-size: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    
}

.box:hover{
    color :rgb(0, 0, 0);
    background:rgb(130, 157, 255);
    transform: translateY(10px);
    
}

.Konten1 {
    max-width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding:5px;
    margin:10px;
}
.Konten4 {
    max-width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding:5px;
    margin:10px;
}
.kiri {
    background-color: #004cff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.kanan {
    padding: 20px;
}

.Gambar{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.Gambar1 {
    width: 200px;
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Gambar1 img {
    width: 100%;
    height: auto;
}

.Video {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 100%;
    padding: 30px;
}

.Konten2 a {
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
}
th {
    background-color: #059afd;
    color: white;
    padding: 10px;
}
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
.KontenTable {
    max-width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
}