
body{
    margin: 60px;
    background-color: #a5b1c2;
}

.password{
    display: inline-block;
    position: relative;
 }
 
 .password input{
    width: 230px; 
    height: 30px;
    margin:8px 3px; 
    font-size: 20px;
    outline: none;
    border: 1.2px solid #1e272e;
    border-radius: 5px;
     color: #1e272e;
    background: transparent;
    padding: 7px 20px; 
    letter-spacing: 2px;
    box-shadow: inset 8px 8px 16px #808e9b
    ,inset -8px -8px 16px #d2dae2;
 }

 input::placeholder{
    text-transform: capitalize;
    color: #485460;
    font-size: 20px;
}

 .pass-icon{
    position: absolute;
    top: 23px;
    right: 16px;
    width: 24px;
    cursor: pointer;
 }